{% load static %}


<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}C.O.O.S{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">C.O.O.S</a>
         {% if user.is_authenticated %}
<!--n>adding the login and out links and the signup link to display depending whether or not they are signed in <-->
        <br><a href="{% url 'logout' %}">logout</a>
      {% else %}
        <br><a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
    </div>
     Welcome {{ user.username }}!
    <div id="subheader">
        <div class="cart">
            <!--n>The following line checks to see if there are items within the users
            cart if it finds there are items it displays how many items and the total cost
            if no items are found it display "Your cart is empty"<!-->
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Your cart:
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }},
                        ${{ cart.get_total_price }}
                    </a>

                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>